/* -------------- COLOR SCHEME --------------- */
:root {
  --color-primary: #81481d;
  --color-secondary: #617939;
  /* Add a grey scale Colors */
  --color-mygrey-05: lab(98% 0 0);
  --color-mygrey-10: lab(97% 0 0);
  --color-mygrey-20: lab(91% 0 0);
  --color-mygrey-30: lab(85% 0 0);
  --color-mygrey-40: lab(66% 0 0);
  --color-mygrey-50: lab(48% 0 0);
  --color-mygrey-60: lab(34% 0 0);
  --color-mygrey-70: lab(27% 0 0);
  --color-mygrey-80: lab(15% 0 0);
  --color-mygrey-90: lab(8% 0 0);
  --color-mygrey-95: lab(3% 0 0);
}

/************************** BORDER BOX **************************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/************************** BODY **************************/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/************************** HEADER **************************/
header {
  padding: 10px 0 10px 10px;
  display: grid;
  grid-template-columns: 25px auto 44px;
  column-gap: 8px;
  align-items: end;
  border-bottom: 1px solid var(--color-mygrey-10);
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--color-primary);
}

/************************** NAVIGATION **************************/
nav {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-mygrey-50);
  text-decoration: none;
  padding: 0.6rem 10px;
  border-bottom: 1px solid var(--color-mygrey-10);
}

nav a:hover {
  color: var(--color-mygrey-90);
}

nav li.active a {
  text-decoration: underline;
  color: var(--color-primary);
}

nav.show {
  display: block;
}

/************************** HAMBURGER NAVIGATION **************************/
.hamburger {
  background: none;
  border: none;
  color: var(--color-mygrey-80);
  cursor: pointer;
  font-family: Verdana;
  font-size: 2rem;
}

.hamburger::before {
  content: "\2630";
}

.hamburger.show::before {
  content: "\00D7";
}

/************************** MAIN LAYOUT **************************/
h1 {
  font-weight: 200;
  font-size: 2rem;
  color: var(--color-primary);
  margin: 0.5rem 10px;
}
h2 {
  font-weight: 800;
  font-size: 1rem;
  color: var(--color-secondary);
  margin: 0.5rem 0;
}

/************************** ACCOUNT LAYOUT **************************/
.hide {
  display: none;
}

.show {
  display: block;
}
main section {
  margin: 1rem 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-mygrey-05);
  border: solid 1px var(--color-mygrey-10);
}
/***** Signup Styles *****/
#signup label {
  font-size: .8rem;
  font-weight: 300;
  color:var(--color-mygrey-50);
  display: block;
  padding-bottom: 1rem;
}
#signup input {
  display: block;
  padding: .5rem 10px;
  width: 275px;
  border: 1px solid var(--color-mygrey-20);
  border-radius: 4px;
}
#signup input[type="submit"] {
  background-color: var(--color-secondary);
  color: var(--color-mygrey-05);
  border: none;
  border-radius: 99px;
  &:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}
/***** Display Styles *****/
#display h3 {
  color: var(--color-mygrey-40);
  margin: 1rem 0 0 0;
  font-size: .8rem;
  font-weight: 300;
}
#display p {
  margin: 0;
  color: var(--color-primary);
}
#display button {
  background-color: var(--color-secondary);
  color: var(--color-mygrey-0);
  border: none;
  border-radius: 99px;
  padding: .5rem;
  margin-top: .5rem;
  width: 260px;
  &:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}









/************************** SOCIAL MEDIA **************************/
.social {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 1rem;
}

.social a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color-mygrey-10);
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--color-mygrey-0);
}

/************************** FOOTER **************************/
footer {
  background-color: var(--color-mygrey-80);
  color: var(--color-mygrey-05);
  text-align: center;
  padding: 1rem 0;
}

footer p {
  margin: 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-mygrey-30);
}
